/* SHORTCUTSSS */
:root {
  --font-1: "Century Gothic";
  --font-2: "Mont"
  --themecolor: rgb(0, 0, 0);
  --logocolor: #0060fd;
  --fontsize: 1.875rem;
  --bgcolor:#0d5fdc;
}

@font-face {
  font-family: Mont;
  src: url(assets/Mont.otf);
}
@font-face {
  font-family: Nexa;
  src: url(assets/Nexa.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-image: url(assets/BACKGROUND.png);
  background-repeat: no-repeat;
}
header {
  z-index: 11;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
}
/*LOGO AND APP NAME */
#title {
  font-family: var(--font-1);
  font-weight: bold;
  color: var(--logocolor);
  font-size: var(--fontsize);
}
.logo-center {
  display: inline-block;
  vertical-align: middle;
  padding: 0.625rem 0rem;
}
/* NAV BAR HEADER*/
.navbar {
  position: relative;
  margin-left: 4%;
  z-index: 999;
}
.navbar ul li {
  display: inline-block;
  padding: 0.625rem 1.7rem;
  margin-left: 5px;
  vertical-align: middle;
  font-family: var(--font-1);
  transition: font-size 0.5s;
  font-size: 25px;
}

.navbar ul li:hover {
  font-size: 27px;
  background-color: #133e87;
  border-radius: 20px;
}

.navbar ul li:hover a {
  color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul ul {
  position: absolute;
  top: 100%;
  left: 50%;
  display: none;
  background-color: rgba(212, 212, 212, 0.888);
  width: 30%;
  border-radius: 5px;
}
.navbar ul ul:hover li {
  color: white;
}
.navbar li a {
  display: block;
}

.navbar ul ul li {
  display: block;
}
.navbar li:hover ul {
  display: block;
}
.navbar ul ul li a:hover {
  background-color: rgba(198, 198, 198, 0.708);
  display: block;
  color: #ffffff;
}
/* REMOVE UNDERLINE UNDER LINKS */
a {
  text-decoration-line: none;
  display: block;
  color: var(--themecolor);
  font-family: var(--font-1);
}

.loadingscreenbro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fade 1s forwards;
  animation-delay: 2s;
}
#line {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  transform: translateY(80px);
}

#motor {
  scale: 45%;
  left: -50%;
  position: absolute;
  animation: move 2s forwards;
}

@keyframes move {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(550%);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
